@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}
.product-info {
  margin: 0px 14px;
}
.product-info p {
  margin-bottom: 0px;
  margin-top: 5px;
}
.product-name {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  color: #0e161a;
  margin-top: 7px;
}

.btn-cart {
  width: 100%;
  background-color: #ffe0b3;
  border: none;
  border-radius: 8px;
  transition: 0.3s ease-in;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cart:hover {
  background-color: orange;
}

.btn-text {
  margin-right: 5px;
}
